{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet" />
    <title>Register</title>
</head>

<body class="relative">
    <!-- Background Image with Brightness Filter -->
    <img src="{% static 'web/images/bg_1.jpg' %}" alt="Background Image"
        class="absolute inset-0 w-full h-full object-cover z-0 filter brightness-50">

    <section class="relative z-10 bg-gray-700 bg-opacity-30 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <img class="w-32 h-32 mb-4" src="{% static 'web/images/logo.png' %}" alt="logo"> <!-- Adjusted margin for better spacing -->
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-100">
                MUSCLE-MATRIX
            </a>
            <div class="w-full bg-black bg-opacity-80 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl">
                        Verify your OTP
                    </h1>
                    <!-- Start message section -->
                    {% if messages %}
                    {% for message in messages %}
                    <div class="p-4 mb-4 rounded-lg text-white flex items-center justify-between {% if message.tags == 'error' %}bg-red-500{% elif message.tags == 'warning' %}bg-yellow-400{% elif message.tags == 'success' %}bg-green-500{% elif message.tags == 'info' %}bg-blue-400{% endif %}"
                         role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="ml-4 px-2 py-1 rounded bg-gray-800 text-white hover:bg-gray-700"
                            onclick="this.parentElement.remove();" aria-label="Close">
                            &times;
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- End message section -->
                    <form class="space-y-4 md:space-y-6" action="#" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="otp" class="block mb-2 text-sm font-medium text-gray-100">Enter OTP</label>
                            <input type="otp" name="otp" id="otp"
                                class="bg-gray-700 border border-gray-600 text-gray-100 rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white"
                                placeholder="_ _ _ _ _ _" required="">
                        </div>
                        <div>
                            <label for="new_password" class="block mb-2 text-sm font-medium text-gray-100">New password</label>
                            <input type="password" name="new_password" id="new_password" placeholder="••••••••"
                                class="bg-gray-700 border border-gray-600 text-gray-100 rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white" required="">
                        </div>
                        <div>
                            <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-100">Confirm password</label>
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="••••••••"
                                class="bg-gray-700 border border-gray-600 text-gray-100 rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white" required="">
                        </div>
                        <button type="submit"
                            class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Reset password</button>
                        <p class="text-sm font-light text-gray-400">
                            Already have an account? <a href="{% url 'login_view' %}" class="font-medium text-red-500 hover:underline">Login here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
